{% extends 'base.html' %}
{% block content %}

  <button id="gantitema">Ganti Tema</button>
<!--   <div class="temaA" id="divYangMauDiubah"> kosong </div> -->

  <div class="demo temaA" id="divYangMauDiubah">
    <h3>Aktivitas</h3>
    <div>
    Kuliah</br>Makan</br>Refreshing</br>Tidur</br>Repeat
    </div>
    <h3>Pengalaman Organisasi/Kepanitiaan</h3>
    <div>
    Staf Permainan Sospro Fasilkom UI 2018</br>Staf Perlengkapan Pemira Fasilkom UI 2018</br>Staf LO Wisuda Ganjil Fasilkom UI 2018</br>Staf Startup Academy Compfest XI</br>PJ LO Wisuda Genap Fasilkom UI 2019
    </div>
    <h3>Prestasi</h3>
    <div>
    Juara 2 SEC Business Competition Universitas Brawijaya</br>
    Juara 1 Hilo Marketing Strategy Competition
    </div>
  </div>

<h1>Halo Apa Kabar?</h1>

<div class="status"style="margin-top:20px">
     <form method='POST' > 
        {% csrf_token %}
                {{ form.as_p }}
                <input name='simpan' type='submit' value='Save' />
            </form>
</div>

<div id="section2" style="height: auto">
  <p>Ini Statusku</p>
        <ol>
          {% for i in stat %}
            <li>status : {{i.status_field}}
              date : {{i.date_field}}
            </li>
           {% endfor %}
        </ol>
    </div>
{% endblock %}

